/*
    Color schema created by stephanie power
    Retrieved from color.adobe.com
*/
:root {
    --dark1: rgb(71, 89, 54);    /* #475936 */
    --dark2: rgb(146, 160, 126);    /* #92A07E */
    --lightgreen: rgb(208, 222, 188);    /* #D0DEBC */
    --darkgrey: rgb(149, 149, 149);    /* #959595 */
    --mainbackground: rgb(243, 243, 243);    /* #F3F3F3 */
    --orange: rgb(245, 164, 0);    /* #F5A400 */
}

/* Setting the website font-style */
body {
    font-size: small;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.btn {
    font-size: small;
    color: white;
    border-width: 0.1em;
    border-color: white !important;
    background-color: var(--dark1);
}

.btn:hover {
    background-color: var(--dark2);
}

/* Navbar */
.bg-body-tertiary {
    padding: 20px 100px;
    box-shadow: 3px 0px 10px rgb(71, 89, 54, 0.2);
}

.nav-link:hover {
    color: var(--dark1);
}

.active {
    color: var(--dark1) !important;
}

/* Cart icon will change color when hovering */
.nav-link > img {
    margin-top: -3px;
    content: url("https://img.icons8.com/575757/material-rounded/24/shopping-cart.png");
}

.nav-link:hover > img {
    content: url("https://img.icons8.com/475936/material-rounded/24/shopping-cart.png");
}

/* Footer */
.footer {
    color: white;
    background-color: var(--dark1);
}

footer a {
    text-decoration: none !important;    /* remove underline of link */
}

/* Newsletter */
.input-newsletter {
    text-align: center;    /* hint text of input form */
    font-size: small;
}

/* Copyright */
.copyright {
    color: var(--dark1);
}