/*
    Color schema created by stephanie power
    Retrieved from color.adobe.com
*/
:root {
    --dark1: rgb(71, 89, 54);    /* #475936 */
    --dark2: rgb(146, 160, 126);    /* #92A07E */
    --lightgreen: rgb(208, 222, 188);    /* #D0DEBC */
    --darkgrey: rgb(149, 149, 149);    /* #959595 */
    --mainbackground: rgb(243, 243, 243);    /* #F3F3F3 */
    --orange: rgb(245, 164, 0);    /* #F5A400 */
}

/* Setting the website font-style */
body {
    font-size: small;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    background-color: var(--mainbackground);
}

.btn {
    font-size: small;
    color: white;
    border-width: 0.1em;
    border-color: white !important;
    background-color: var(--dark1);
}

.btn:hover {
    background-color: var(--dark2);
}

.rounded-image {
    position: relative;
    width: 100%;    /* fit col-2 size */
    padding-top: 100%;    /* height of the circular image is set to be the same as its width, so top padding of the container will be equal to 100% of its width */        
                          /* maintain a 1:1 aspect ratio (height = width) */
    overflow: hidden;    /* hide any overflow from the image */
}

.rounded-image img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;    /* maintain aspect ratio and cover the circular container */
}

.card-title {
    color: var(--dark1);
}

/* Navbar */
.bg-body-tertiary {
    padding: 20px 100px;
    box-shadow: 3px 0px 10px rgb(71, 89, 54, 0.2);
}

.nav-link {
    color: #707071;
}

.nav-link:hover {
    color: var(--dark1);
}

.nav-link:focus {
    color: var(--dark1);
    font-weight: 500;
}

.active {
    color: var(--dark1) !important;
}

/* Cart icon will change color when hovering */
.nav-link > img {
    margin-top: -3px;
    content: url("https://img.icons8.com/575757/material-rounded/24/shopping-cart.png");
}

.nav-link:hover > img {
    content: url("https://img.icons8.com/475936/material-rounded/24/shopping-cart.png");
}

/* Banner */
.banner {
    margin-bottom: 150px !important;
    height: 350px;
    background-image: url("https://images.unsplash.com/photo-1519671282429-b44660ead0a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -350px;
}

.search-bar {
    position: relative;
    top: 275px;
    width: 70%;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(71, 89, 54, 0.1);
}

.keyword-search > span {
    background: none;
    border-style: none;
}

.keyword-search > input {
    color: var(--darkgrey);
}

.advance-search {
    position: relative;
}

form {
    position: relative;
    top: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(71, 89, 54, 0.1);
}

.form-control {
    width: 100%;
    color: var(--dark1);
    background-color: var(--mainbackground);
    border-style: none;
}

#advanced-search-category {
    width: 100%;
    color: var(--dark1);
    background-color: var(--mainbackground);
}

.dropdown-item, .dropdown-item:focus {
    font-size: small;
    color: black;
    background-color: white;
}

.active {
    width: 100%;
    color: var(--dark1);
    background-color: var(--mainbackground) !important;
}

/* Category */
.category > h4 {
    color: white !important;
}

.category-card {
    border-style: none;
    background-size: 100% !important;
    background-repeat: none;
}

.category-card > div > h5 {
    color: white;
}

.category-card > div > a {
    color: var(--dark1);
    background-color: white;
}

/* Popular Activity */
.popular-activity-arrow {
    width: 30px;
    height: 30px;
    background-color: transparent !important;
    background-image: url("https://img.icons8.com/ios-glyphs/30/475936/circled-chevron-right.png");
}

.popular-activity-arrow:hover {
    background-color: transparent !important;
    background-image: url("https://img.icons8.com/ios-glyphs/30/D0DEBC/circled-chevron-right.png");
}

.card {
    box-shadow: 3px 3px 8px rgb(71, 89, 54, 0.1);
}

.sale-label {
    position: absolute;
    top: 35%;
    left: 2%;
    padding: 5px 10px;
    height:fit-content;
    color: white !important;
    border-radius: 0px 2px 2px 0px;
}

.wishlist {
    position: absolute;
    top: 4%;
    right: 5%;
    width: 24px;
    height: 24px;
    background: url("https://img.icons8.com/material-outlined/24/FFFFFF/like--v1.png");
    border-style: none;
}

.wishlist:hover {
    background-color: transparent;
}

/* Review */
.review {
    color: white;
    background-color: var(--dark1);
}

#review-username {
    color: white;
}

.review-background {
    color: white;
    background-color: rgb(255, 255, 255, 0.2);
}

.arrow {
    width: 30px;
    height: 30px;
    background-image: url("https://img.icons8.com/ios-glyphs/30/ffffff/circled-chevron-right.png");
    border-style: none;
}

.arrow:hover {
    background-color: transparent;
    background-image: url("https://img.icons8.com/ios-glyphs/30/D0DEBC/circled-chevron-right.png");
}

/* Nearby Activity */
.nearby-activity-card{
    box-shadow: 2px 2px 5px rgb(71, 89, 54, 0.1);
}

/* Footer */
.footer {
    color: white;
    background-color: var(--dark1);
}

footer a {
    text-decoration: none !important;    /* remove underline of link */
}

/* Newsletter */
.input-newsletter {
    text-align: center;    /* hint text of input form */
    font-size: small;
}

/* Copyright */
.copyright {
    color: var(--dark1);
}

/* Blog */
.category-tab {
    color: var(--darkgrey) !important;
}

/* Carousel */
.carousel {
    margin-top: 80px;
}

.carousel-item {
    height: 300px;
}

.carousel-img {
    margin-top: -20vh;    /* move image up */
}

/* Article List */
.article-list {
    height: 200px;
    overflow: hidden;
}

.article-list-img {
    width: 100%;
    margin-top: -80px;
}

.breadcrumb-item > a {
    text-decoration: none;
    font-weight: 400;
    color: var(--darkgrey);
}